# Node specific
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env

# Editor and IDE specific
*.code-workspace
.vscode/
.idea/
*.swp
*.swo
*.swn
*.log
